.plants-container {
    display: flex;
    justify-content: space-between;
}

.plants-container .card {
    width: 15%;
}

.employees-container {
    display: flex;
    justify-content: space-between;
}

.employees-container .card {
    width: 15%;
}
